'.source.esl, .source.lsl':
  'editor':
    'increaseIndentPattern': '^(?![^{]*//.*\\{).*\\{[^}"\']*$'
    'decreaseIndentPattern': '^\\s*\\}[;\\s]*$'
    'completions': [
      'llGetObjectDetails(key id, list params)'
      'OBJECT_NAME'
      'OBJECT_DESC'
      'OBJECT_POS'
      'OBJECT_ROT'
      'OBJECT_VELOCITY'
      'OBJECT_OWNER'
      'OBJECT_GROUP'
      'OBJECT_CREATOR'
      'ACTIVE'
      'AGENT'
      'AGENT_ALWAYS_RUN'
      'AGENT_ATTACHMENTS'
      'AGENT_AWAY'
      'AGENT_BUSY'
      'AGENT_CROUCHING'
      'AGENT_FLYING'
      'AGENT_IN_AIR'
      'AGENT_MOUSELOOK'
      'AGENT_ON_OBJECT'
      'AGENT_SCRIPTED'
      'AGENT_SITTING'
      'AGENT_TYPING'
      'AGENT_WALKING'
      'ALL_SIDES'
      'ANIM_ON'
      'ATTACH_BACK'
      'ATTACH_BELLY'
      'ATTACH_CHEST'
      'ATTACH_CHIN'
      'ATTACH_HEAD'
      'ATTACH_LEAR'
      'ATTACH_LEYE'
      'ATTACH_LFOOT'
      'ATTACH_LHAND'
      'ATTACH_LHIP'
      'ATTACH_LLARM'
      'ATTACH_LLLEG'
      'ATTACH_LPEC'
      'ATTACH_LSHOULDER'
      'ATTACH_LUARM'
      'ATTACH_LULEG'
      'ATTACH_MOUTH'
      'ATTACH_NOSE'
      'ATTACH_PELVIS'
      'ATTACH_REAR'
      'ATTACH_REYE'
      'ATTACH_RFOOT'
      'ATTACH_RHAND'
      'ATTACH_RHIP'
      'ATTACH_RLARM'
      'ATTACH_RLLEG'
      'ATTACH_RPEC'
      'ATTACH_RSHOULDER'
      'ATTACH_RUARM'
      'ATTACH_RULEG'
      'CAMERA_ACTIVE'
      'CAMERA_BEHINDNESS_ANGLE'
      'CAMERA_BEHINDNESS_LAG'
      'CAMERA_DISTANCE'
      'CAMERA_FOCUS'
      'CAMERA_FOCUS_LAG'
      'CAMERA_FOCUS_LOCKED'
      'CAMERA_FOCUS_OFFSET'
      'CAMERA_FOCUS_THRESHOLD'
      'CAMERA_PITCH'
      'CAMERA_POSITION'
      'CAMERA_POSITION_LAG'
      'CAMERA_POSITION_LOCKED'
      'CAMERA_POSITION_THRESHOLD'
      'CHANGED_ALLOWED_DROP'
      'CHANGED_COLOR'
      'CHANGED_INVENTORY'
      'CHANGED_LINK'
      'CHANGED_SCALE'
      'CHANGED_SHAPE'
      'CHANGED_TEXTURE'
      'CONTROL_BACK'
      'CONTROL_DOWN'
      'CONTROL_FWD'
      'CONTROL_LBUTTON'
      'CONTROL_LEFT'
      'CONTROL_ML_LBUTTON'
      'CONTROL_RIGHT'
      'CONTROL_ROT_LEFT'
      'CONTROL_ROT_RIGHT'
      'CONTROL_UP'
      'DATA_BORN'
      'DATA_NAME'
      'DATA_ONLINE'
      'DATA_PAYINFO'
      'DATA_RATING'
      'DATA_SIM_POS'
      'DATA_SIM_RATING'
      'DATA_SIM_STATUS'
      'DEBUG_CHANNEL'
      'DEG_TO_RAD'
      'EOF'
      'FALSE'
      'HTTP_BODY_MAXLENGTH'
      'HTTP_BODY_TRUNCATED'
      'HTTP_METHOD'
      'HTTP_MIMETYPE'
      'HTTP_VERIFY_CERT'
      'INVENTORY_ALL'
      'INVENTORY_ANIMATION'
      'INVENTORY_BODYPART'
      'INVENTORY_CLOTHING'
      'INVENTORY_GESTURE'
      'INVENTORY_LANDMARK'
      'INVENTORY_NOTECARD'
      'INVENTORY_OBJECT'
      'INVENTORY_SCRIPT'
      'INVENTORY_SOUND'
      'INVENTORY_TEXTURE'
      'LAND_LARGE_BRUSH'
      'LAND_LEVEL'
      'LAND_LOWER'
      'LAND_MEDIUM_BRUSH'
      'LAND_NOISE'
      'LAND_RAISE'
      'LAND_REVERT'
      'LAND_SMALL_BRUSH'
      'LAND_SMOOTH'
      'LINK_ALL_CHILDREN'
      'LINK_ALL_OTHERS'
      'LINK_ROOT'
      'LINK_SET'
      'LINK_THIS'
      'LIST_STAT_GEOMETRIC_MEAN'
      'LIST_STAT_MAX'
      'LIST_STAT_MEAN'
      'LIST_STAT_MEDIAN'
      'LIST_STAT_MIN'
      'LIST_STAT_NUM_COUNT'
      'LIST_STAT_RANGE'
      'LIST_STAT_STD_DEV'
      'LIST_STAT_SUM'
      'LIST_STAT_SUM_SQUARES'
      'LOOP'
      'MASK_BASE'
      'MASK_EVERYONE'
      'MASK_GROUP'
      'MASK_NEXT'
      'MASK_OWNER'
      'NULL_KEY'
      'PARCEL_COUNT_GROUP'
      'PARCEL_COUNT_OTHER'
      'PARCEL_COUNT_OWNER'
      'PARCEL_COUNT_SELECTED'
      'PARCEL_COUNT_TEMP'
      'PARCEL_COUNT_TOTAL'
      'PARCEL_DETAILS_AREA'
      'PARCEL_DETAILS_GROUP'
      'PARCEL_DETAILS_NAME'
      'PARCEL_DETAILS_OWNER'
      'PARCEL_FLAG_ALLOW_ALL_OBJECT_ENTRY'
      'PARCEL_FLAG_ALLOW_CREATE_OBJECTS'
      'PARCEL_FLAG_ALLOW_DAMAGE'
      'PARCEL_FLAG_ALLOW_FLY'
      'PARCEL_FLAG_ALLOW_GROUP_OBJECT_ENTRY'
      'PARCEL_FLAG_ALLOW_LANDMARK'
      'PARCEL_FLAG_ALLOW_SCRIPTS'
      'PARCEL_FLAG_ALLOW_TERRAFORM'
      'PARCEL_FLAG_LOCAL_SOUND_ONLY'
      'PARCEL_FLAG_RESTRICT_PUSHOBJECT'
      'PARCEL_FLAG_USE_ACCESS_GROUP'
      'PARCEL_FLAG_USE_ACCESS_LIST'
      'PARCEL_FLAG_USE_BAN_LIST'
      'PARCEL_FLAG_USE_LAND_PASS_LIST'
      'PARCEL_MEDIA_COMMAND_AGENT'
      'PARCEL_MEDIA_COMMAND_AUTO_ALIGN'
      'PARCEL_MEDIA_COMMAND_LOOP'
      'PARCEL_MEDIA_COMMAND_PAUSE'
      'PARCEL_MEDIA_COMMAND_PLAY'
      'PARCEL_MEDIA_COMMAND_STOP'
      'PARCEL_MEDIA_COMMAND_TEXTURE'
      'PARCEL_MEDIA_COMMAND_TIME'
      'PARCEL_MEDIA_COMMAND_UNLOAD'
      'PARCEL_MEDIA_COMMAND_URL'
      'PASSIVE'
      'PAY_DEFAULT'
      'PAY_HIDE'
      'PERMISSION_ATTACH'
      'PERMISSION_CHANGE_LINKS'
      'PERMISSION_CONTROL_CAMERA'
      'PERMISSION_DEBIT'
      'PERMISSION_TAKE_CONTROLS'
      'PERMISSION_TRACK_CAMERA'
      'PERMISSION_TRIGGER_ANIMATION'
      'PERM_ALL'
      'PERM_COPY'
      'PERM_MODIFY'
      'PERM_MOVE'
      'PERM_TRANSFER'
      'PI'
      'PING_PONG'
      'PI_BY_TWO'
      'PRIM_BUMP_BARK'
      'PRIM_BUMP_BLOBS'
      'PRIM_BUMP_BRICKS'
      'PRIM_BUMP_BRIGHT'
      'PRIM_BUMP_CHECKER'
      'PRIM_BUMP_CONCRETE'
      'PRIM_BUMP_DARK'
      'PRIM_BUMP_DISKS'
      'PRIM_BUMP_GRAVEL'
      'PRIM_BUMP_LARGETILE'
      'PRIM_BUMP_NONE'
      'PRIM_BUMP_SHINY'
      'PRIM_BUMP_SIDING'
      'PRIM_BUMP_STONE'
      'PRIM_BUMP_STUCCO'
      'PRIM_BUMP_SUCTION'
      'PRIM_BUMP_TILE'
      'PRIM_BUMP_WEAVE'
      'PRIM_BUMP_WOOD'
      'PRIM_COLOR'
      'PRIM_FLEXIBLE'
      'PRIM_HOLE_CIRCLE'
      'PRIM_HOLE_DEFAULT'
      'PRIM_HOLE_SQUARE'
      'PRIM_HOLE_TRIANGLE'
      'PRIM_MATERIAL'
      'PRIM_MATERIAL_FLESH'
      'PRIM_MATERIAL_GLASS'
      'PRIM_MATERIAL_LIGHT'
      'PRIM_MATERIAL_METAL'
      'PRIM_MATERIAL_PLASTIC'
      'PRIM_MATERIAL_RUBBER'
      'PRIM_MATERIAL_STONE'
      'PRIM_MATERIAL_WOOD'
      'PRIM_PHANTOM'
      'PRIM_PHYSICS'
      'PRIM_POINT_LIGHT'
      'PRIM_POSITION'
      'PRIM_ROTATION'
      'PRIM_SHINY_HIGH'
      'PRIM_SHINY_LOW'
      'PRIM_SHINY_MEDIUM'
      'PRIM_SHINY_NONE'
      'PRIM_SIZE'
      'PRIM_TEMP_ON_REZ'
      'PRIM_TEXGEN_DEFAULT'
      'PRIM_TEXGEN_PLANAR'
      'PRIM_TEXTURE'
      'PRIM_TYPE'
      'PRIM_TYPE_BOX'
      'PRIM_TYPE_CYLINDER'
      'PRIM_TYPE_PRISM'
      'PRIM_TYPE_RING'
      'PRIM_TYPE_SPHERE'
      'PRIM_TYPE_TORUS'
      'PRIM_TYPE_TUBE'
      'PSYS_PART_BOUNCE_MASK'
      'PSYS_PART_EMISSIVE_MASK'
      'PSYS_PART_END_ALPHA'
      'PSYS_PART_END_COLOR'
      'PSYS_PART_END_SCALE'
      'PSYS_PART_FLAGS'
      'PSYS_PART_FOLLOW_SRC_MASK'
      'PSYS_PART_FOLLOW_VELOCITY_MASK'
      'PSYS_PART_INTERP_COLOR_MASK'
      'PSYS_PART_INTERP_SCALE_MASK'
      'PSYS_PART_MAX_AGE'
      'PSYS_PART_START_ALPHA'
      'PSYS_PART_START_COLOR'
      'PSYS_PART_START_SCALE'
      'PSYS_PART_TARGET_LINEAR_MASK'
      'PSYS_PART_TARGET_POS_MASK'
      'PSYS_PART_WIND_MASK'
      'PSYS_SRC_ACCEL'
      'PSYS_SRC_ANGLE_BEGIN'
      'PSYS_SRC_ANGLE_END'
      'PSYS_SRC_BURST_PART_COUNT'
      'PSYS_SRC_BURST_RADIUS'
      'PSYS_SRC_BURST_RATE'
      'PSYS_SRC_BURST_SPEED_MAX'
      'PSYS_SRC_BURST_SPEED_MIN'
      'PSYS_SRC_INNERANGLE'
      'PSYS_SRC_MAX_AGE'
      'PSYS_SRC_OMEGA'
      'PSYS_SRC_OUTERANGLE'
      'PSYS_SRC_PATTERN'
      'PSYS_SRC_PATTERN_ANGLE'
      'PSYS_SRC_PATTERN_ANGLE_CONE'
      'PSYS_SRC_PATTERN_ANGLE_CONE_EMPTY'
      'PSYS_SRC_PATTERN_DROP'
      'PSYS_SRC_PATTERN_EXPLODE'
      'PSYS_SRC_TARGET_KEY'
      'PSYS_SRC_TEXTURE'
      'RAD_TO_DEG'
      'REGION_FLAG_ALLOW_DAMAGE'
      'REGION_FLAG_ALLOW_DIRECT_TELEPORT'
      'REGION_FLAG_BLOCK_FLY'
      'REGION_FLAG_BLOCK_TERRAFORM'
      'REGION_FLAG_DISABLE_COLLISIONS'
      'REGION_FLAG_DISABLE_PHYSICS'
      'REGION_FLAG_FIXED_SUN'
      'REGION_FLAG_RESTRICT_PUSHOBJECT'
      'REGION_FLAG_SANDBOX'
      'REMOTE_DATA_CHANNEL'
      'REMOTE_DATA_REPLY'
      'REMOTE_DATA_REQUEST'
      'REVERSE'
      'ROTATE'
      'SCALE'
      'SCRIPTED'
      'SMOOTH'
      'SQRT2'
      'STATUS_BLOCK_GRAB'
      'STATUS_DIE_AT_EDGE'
      'STATUS_PHANTOM'
      'STATUS_PHYSICS'
      'STATUS_RETURN_AT_EDGE'
      'STATUS_ROTATE_X'
      'STATUS_ROTATE_Y'
      'STATUS_ROTATE_Z'
      'STATUS_SANDBOX'
      'STRING_TRIM'
      'STRING_TRIM_HEAD'
      'STRING_TRIM_TAIL'
      'TRUE'
      'TWO_PI'
      'TYPE_FLOAT'
      'TYPE_INTEGER'
      'TYPE_INVALID'
      'TYPE_KEY'
      'TYPE_ROTATION'
      'TYPE_STRING'
      'TYPE_VECTOR'
      'VEHICLE_ANGULAR_DEFLECTION_EFFICIENCY'
      'VEHICLE_ANGULAR_DEFLECTION_TIMESCALE'
      'VEHICLE_ANGULAR_FRICTION_TIMESCALE'
      'VEHICLE_ANGULAR_MOTOR_DECAY_TIMESCALE'
      'VEHICLE_ANGULAR_MOTOR_DIRECTION'
      'VEHICLE_ANGULAR_MOTOR_TIMESCALE'
      'VEHICLE_BANKING_EFFICIENCY'
      'VEHICLE_BANKING_MIX'
      'VEHICLE_BANKING_TIMESCALE'
      'VEHICLE_BUOYANCY'
      'VEHICLE_FLAG_CAMERA_DECOUPLED'
      'VEHICLE_FLAG_HOVER_GLOBAL_HEIGHT'
      'VEHICLE_FLAG_HOVER_TERRAIN_ONLY'
      'VEHICLE_FLAG_HOVER_UP_ONLY'
      'VEHICLE_FLAG_HOVER_WATER_ONLY'
      'VEHICLE_FLAG_LIMIT_MOTOR_UP'
      'VEHICLE_FLAG_LIMIT_ROLL_ONLY'
      'VEHICLE_FLAG_MOUSELOOK_BANK'
      'VEHICLE_FLAG_MOUSELOOK_STEER'
      'VEHICLE_FLAG_NO_DEFLECTION_UP'
      'VEHICLE_HOVER_EFFICIENCY'
      'VEHICLE_HOVER_HEIGHT'
      'VEHICLE_HOVER_TIMESCALE'
      'VEHICLE_LINEAR_DEFLECTION_EFFICIENCY'
      'VEHICLE_LINEAR_DEFLECTION_TIMESCALE'
      'VEHICLE_LINEAR_FRICTION_TIMESCALE'
      'VEHICLE_LINEAR_MOTOR_DECAY_TIMESCALE'
      'VEHICLE_LINEAR_MOTOR_DIRECTION'
      'VEHICLE_LINEAR_MOTOR_OFFSET'
      'VEHICLE_LINEAR_MOTOR_TIMESCALE'
      'VEHICLE_REFERENCE_FRAME'
      'VEHICLE_TYPE_AIRPLANE'
      'VEHICLE_TYPE_BALLOON'
      'VEHICLE_TYPE_BOAT'
      'VEHICLE_TYPE_CAR'
      'VEHICLE_TYPE_NONE'
      'VEHICLE_TYPE_SLED'
      'VEHICLE_VERTICAL_ATTRACTION_EFFICIENCY'
      'VEHICLE_VERTICAL_ATTRACTION_TIMESCALE'
      'ZERO_ROTATION'
      'ZERO_VECTOR'
      'at_rot_target(integer number, rotation target_rotation, rotation our_rotation)'
      'at_target(integer number, vector target_position, vector our_position)'
      'attach(key attached)'
      'changed(integer changed)'
      'collision(integer total_number)'
      'collision_end(integer total_number)'
      'collision_start(integer total_number)'
      'control(key name, integer levels, integer edges)'
      'dataserver(key requested, string data)'
      'default'
      'do'
      'else'
      'email(string time, string address, string subject, string body, integer remaining)'
      'float '
      'for'
      'function '
      'http_response(key request_id, integer status, list metadata, string body)'
      'if'
      'integer '
      'jump'
      'key '
      'land_collision(vector position)'
      'land_collision_end(vector position)'
      'land_collision_start(vector position)'
      'link_message(integer sender_number, integer number, string message, key id)'
      'list '
      'listen(integer channel, string name, key id, string message)'
      'llAbs((integer) val)'
      'llAcos((float) val)'
      'llAddToLandPassList((key) avatar, (float) hours)'
      'llAdjustSoundVolume((float) volume)'
      'llAllowInventoryDrop((integer) add)'
      'llAngleBetween((rotation) a, (rotation) b)'
      'llApplyImpulse((vector) force, (integer) local)'
      'llApplyRotationalImpulse((vector) force, (integer) local)'
      'llAsin((float) val)'
      'llAtan2((float) y, (float) x)'
      'llAttachToAvatar((key) avatar, (integer) attachment)'
      'llAvatarOnSitTarget()'
      'llAxes2Rot((vector) fwd, (vector) left, (vector) up)'
      'llAxisAngle2Rot((vector) axis, (float) angle)'
      'llBase64ToString((string) str)'
      'llBreakAllLinks()'
      'llBreakLink((integer) linknum)'
      'llCSV2List((string) src)'
      'llCeil((float) val)'
      'llClearCameraParams()'
      'llCloseRemoteDataChannel((key) channel)'
      'llCloud((vector) offset)'
      'llCollisionFilter((string) name, (key) id, (integer) accept)'
      'llCollisionSound((string) impact_sound, (float) impact_volume)'
      'llCollisionSprite((string) impact_sprite)'
      'llCos((float) theta)'
      'llCreateLink((key) target, (integer) parent)'
      'llDeleteSubList((list) src, (integer) start, (integer) end)'
      'llDeleteSubString((string) src, (integer) start, (integer) end)'
      'llDetachFromAvatar((key) avatar)'
      'llDetectedGrab((integer) number)'
      'llDetectedGroup((integer) number)'
      'llDetectedKey((integer) number)'
      'llDetectedLinkNumber((integer) number)'
      'llDetectedName((integer) number)'
      'llDetectedOwner((integer) number)'
      'llDetectedPos((integer) number)'
      'llDetectedRot((integer) number)'
      'llDetectedType((integer) number)'
      'llDetectedVel((integer) number)'
      'llDialog((key) avatar, (string) message, (list) buttons, (integer) channel)'
      'llDie()'
      'llDumpList2String((list) src, (string) separator)'
      'llEdgeOfWorld((vector) pos, (vector) dir)'
      'llEjectFromLand((key) pest)'
      'llEmail((string) address, (string) subject, (string) message)'
      'llEscapeURL((string) url)'
      'llEuler2Rot((vector) vec)'
      'llFabs((float) val)'
      'llFloor((float) val)'
      'llForceMouselook((integer) mouselook)'
      'llFrand((float) mag)'
      'llGetAccel()'
      'llGetAgentInfo((key) id)'
      'llGetAgentSize((key) id)'
      'llGetAlpha((integer) face)'
      'llGetAndResetTime()'
      'llGetAnimation((key) id)'
      'llGetAnimationList((key) id)'
      'llGetAttached()'
      'llGetBoundingBox((key) object)'
      'llGetCameraPos()'
      'llGetCameraRot()'
      'llGetCenterOfMass()'
      'llGetColor((integer) face)'
      'llGetCreator()'
      'llGetDate()'
      'llGetEnergy()'
      'llGetForce()'
      'llGetFreeMemory()'
      'llGetGMTclock()'
      'llGetGeometricCenter()'
      'llGetInventoryCreator((string) name)'
      'llGetInventoryKey((string) name)'
      'llGetInventoryName((integer) type, (integer) number)'
      'llGetInventoryNumber((integer) type)'
      'llGetInventoryPermMask((string) item, (integer) mask)'
      'llGetInventoryType((string) name)'
      'llGetKey()'
      'llGetLandOwnerAt((vector) pos)'
      'llGetLinkKey((integer) linknum)'
      'llGetLinkName((integer) linknum)'
      'llGetLinkNumber()'
      'llGetListEntryType((list) src, (integer) index)'
      'llGetListLength((list) src)'
      'llGetLocalPos()'
      'llGetLocalRot()'
      'llGetMass()'
      'llGetNextEmail((string) address, (string) subject)'
      'llGetNotecardLine((string) name, (integer) line)'
      'llGetNumberOfNotecardLines((string) name)'
      'llGetNumberOfPrims()'
      'llGetNumberOfSides()'
      'llGetObjectDesc()'
      'llGetObjectMass((key) id)'
      'llGetObjectName()'
      'llGetObjectPermMask((integer) mask)'
      'llGetObjectPrimCount((key) id)'
      'llGetOmega()'
      'llGetOwner()'
      'llGetOwnerKey((key) id)'
      'llGetParcelDetails((vector) pos, (list) details)'
      'llGetParcelFlags((vector) pos)'
      'llGetParcelMaxPrims((vector) pos, (integer) sim_wide)'
      'llGetParcelPrimCount((vector) pos, (integer) category, (integer) sim_wide)'
      'llGetParcelPrimOwners((vector) pos)'
      'llGetPermissions()'
      'llGetPermissionsKey()'
      'llGetPos()'
      'llGetPrimitiveParams((list) parameters)'
      'llGetRegionCorner()'
      'llGetRegionFPS()'
      'llGetRegionFlags()'
      'llGetRegionName()'
      'llGetRegionTimeDilation()'
      'llGetRootPosition()'
      'llGetRootRotation()'
      'llGetRot()'
      'llGetScale()'
      'llGetScriptName()'
      'llGetScriptState((string) name)'
      'llGetStartParameter()'
      'llGetStatus((integer) status)'
      'llGetSubString((string) src, (integer) start, (integer) end)'
      'llGetSunDirection()'
      'llGetTexture((integer) face)'
      'llGetTextureOffset((integer) side)'
      'llGetTextureRot((integer) side)'
      'llGetTextureScale((integer) side)'
      'llGetTime()'
      'llGetTimeOfDay()'
      'llGetTimestamp()'
      'llGetTorque()'
      'llGetUnixTime()'
      'llGetVel()'
      'llGetWallclock()'
      'llGiveInventory((key) destination, (string) inventory)'
      'llGiveInventoryList((key) destination, (string) category, (list) inventory)'
      'llGiveMoney((key) destination, (integer) amount)'
      'llGround((vector) offset)'
      'llGroundContour((vector) offset)'
      'llGroundNormal((vector) offset)'
      'llGroundRepel((float) height, (integer) water, (float) tau)'
      'llGroundSlope((vector) offset)'
      'llHTTPRequest((string) url, (list) parameters, (string) body)'
      'llInsertString((string) dst, (integer) position, (string) src)'
      'llInstantMessage((key) user, (string) message)'
      'llKey2Name((key) id)'
      'llList2CSV((list) src)'
      'llList2Float((list) src, (integer) index)'
      'llList2Integer((list) src, (integer) index)'
      'llList2Key((list) src, (integer) index)'
      'llList2List((list) src, (integer) start, (integer) end)'
      'llList2ListStrided((list) src, (integer) start, (integer) end, (integer) stride)'
      'llList2Rot((list) src, (integer) index)'
      'llList2String((list) src, (integer) index)'
      'llList2Vector((list) src, (integer) index)'
      'llListFindList((list) src, (list) test)'
      'llListInsertList((list) dest, (list) src, (integer) pos)'
      'llListRandomize((list) src, (integer) stride)'
      'llListReplaceList((list) dest, (list) src, (integer) start, (integer) end)'
      'llListSort((list) src, (integer) stride, (integer) ascending)'
      'llListStatistics((integer) operation, (list) input)'
      'llListen((integer) channel, (string) name, (key) id, (string) msg)'
      'llListenControl((integer) number, (integer) active)'
      'llListenRemove((integer) number)'
      'llLoadURL((key) avatar_id, (string) message, (string) url)'
      'llLog((float) val)'
      'llLog10((float) val)'
      'llLookAt((vector) target, (float) strength, (float) damping)'
      'llLoopSound((string) sound, (float) volume)'
      'llLoopSoundMaster((string) sound, (float) volume)'
      'llLoopSoundSlave((string) sound, (float) volume)'
      'llMD5String((string) str, (integer) nonce)'
      'llMakeExplosion((integer) particles, (float) scale, (float) velocity, (float) lifetime, (float) arc, (string) texture, (vector) offset)'
      'llMakeFire((integer) particles, (float) scale, (float) velocity, (float) lifetime, (float) arc, (string) texture, (vector) offset)'
      'llMakeFountain((integer) particles, (float) scale, (float) velocity, (float) lifetime, (float) arc, (string) texture, (vector) offset)'
      'llMakeSmoke((integer) particles, (float) scale, (float) velocity, (float) lifetime, (float) arc, (string) texture, (vector) offset)'
      'llMessageLinked((integer) linknum, (integer) num, (string) str, (key) id)'
      'llMinEventDelay((float) delay)'
      'llModPow((integer) a, (integer) b, (integer) c)'
      'llModifyLand((integer) action, (integer) size)'
      'llMoveToTarget((vector) target, (float) tau)'
      'llOffsetTexture((float) offset_s, (float) offset_t, (integer) face)'
      'llOpenRemoteDataChannel()'
      'llOverMyLand((key) id)'
      'llOwnerSay((string) text)'
      'llParcelMediaCommandList((list) command_list)'
      'llParcelMediaQuery((list) query_list)'
      'llParseString2List((string) src, (list) separators, (list) spacers)'
      'llParseStringKeepNulls((string) src, (list) separators, (list) spacers)'
      'llParticleSystem((list) parameters)'
      'llPassCollisions((integer) pass)'
      'llPassTouches((integer) pass)'
      'llPlaySound((string) sound, (float) volume)'
      'llPlaySoundSlave((string) sound, (float) volume)'
      'llPointAt((vector) pos)'
      'llPow((float) base, (float) exp)'
      'llPreloadSound((string) sound)'
      'llPushObject((key) id, (vector) impulse, (vector) angular_impulse, (integer) local)'
      'llRegionSay((integer) channel, (string) msg)'
      'llReleaseControls((key) avatar)'
      'llRemoteDataReply((key) channel, (key) message_id, (string) sdata)'
      'llRemoteDataSetRegion()'
      'llRemoteLoadScript()'
      'llRemoteLoadScriptPin((key) target, (string) name, (integer) pin, (integer) running, (integer) param)'
      'llRemoveInventory((string) inventory)'
      'llRemoveVehicleFlags((integer) flags)'
      'llRequestAgentData((key) id, (integer) data)'
      'llRequestInventoryData((string) name)'
      'llRequestPermissions((key) avatar, (integer) perm)'
      'llRequestSimulatorData((string) sim_name, (integer) data)'
      'llResetOtherScript((string) name)'
      'llResetScript()'
      'llResetTime()'
      'llRezAtRoot((string) inventory, (vector) pos, (vector) vel, (rotation) rot, (integer) param)'
      'llRezObject((string) inventory, (vector) pos, (vector) vel, (rotation) rot, (integer) param)'
      'llRot2Angle((rotation) rot)'
      'llRot2Axis((rotation) rot)'
      'llRot2Euler((rotation) rot)'
      'llRot2Fwd((rotation) rot)'
      'llRot2Left((rotation) rot)'
      'llRot2Up((rotation) rot)'
      'llRotBetween((vector) a, (vector) b)'
      'llRotLookAt((rotation) rot, (float) strength, (float) damping)'
      'llRotTarget((rotation) rot, (float) error)'
      'llRotTargetRemove((integer) number)'
      'llRotateTexture((float) radians, (integer) face)'
      'llRound((float) val)'
      'llSameGroup((key) id)'
      'llSay((integer) channel, (string) text)'
      'llScaleTexture((integer) scale_s, (integer) scale_t, (integer) face)'
      'llScriptDanger((vector) pos)'
      'llSendRemoteData((string) dest, (integer) idata, (string) sdata)'
      'llSensor((string) name, (key) id, (integer) type, (float) range, (float) arc)'
      'llSensorRemove()'
      'llSensorRepeat((string) name, (key) id, (integer) type, (float) range, (float) arc, (float) rate)'
      'llSetAlpha((float) alpha, (integer) face)'
      'llSetBuoyancy((float) buoyancy)'
      'llSetCameraAtOffset((vector) offset)'
      'llSetCameraEyeOffset((vector) offset)'
      'llSetCameraParams((list) rules)'
      'llSetColor((vector) color, (integer) face)'
      'llSetDamage((float) damage)'
      'llSetForce((vector) force, (integer) local)'
      'llSetForceAndTorque((vector) force, (vector) torque, (integer) local)'
      'llSetHoverHeight((float) height, (float) water, (float) tau)'
      'llSetLinkAlpha((integer) linknumber, (float) alpha, (integer) face)'
      'llSetLinkColor((integer) linknumber, (vector) color, (integer) face)'
      'llSetLinkPrimitiveParams((integer) linknumber, (list) rules)'
      'llSetLinkTexture((integer) link_pos, (string) texture, (integer) face)'
      'llSetLocalRot((rotation) rot)'
      'llSetObjectDesc((string) description)'
      'llSetObjectName((string) name)'
      'llSetParcelMusicURL((string) url)'
      'llSetPayPrice((integer) default_price, (list) quick_pay_buttons)'
      'llSetPos((vector) pos)'
      'llSetPrimitiveParams((list) rules)'
      'llSetRemoteScriptAccessPin((integer) pin)'
      'llSetRot((rotation) rot)'
      'llSetScale((vector) scale)'
      'llSetScriptState((string) name, (integer) run)'
      'llSetSitText((string) text)'
      'llSetSoundQueueing((integer) queue)'
      'llSetStatus((integer) status, (integer) value)'
      'llSetText((string) text, (vector) color, (float) alpha)'
      'llSetTexture((string) texture, (integer) face)'
      'llSetTextureAnim((integer) mode, (integer) face, (integer) sizex, (integer) sizey, (float) start, (float) length, (float) rate)'
      'llSetTimerEvent((float) sec)'
      'llSetTorque((vector) torque, (integer) local)'
      'llSetTouchText((string) text)'
      'llSetVehicleFlags((integer) flags)'
      'llSetVehicleFloatParam((integer) param_name, (float) param_value)'
      'llSetVehicleRotationParam((integer) param_name, (rotation) param_value)'
      'llSetVehicleType((integer) type)'
      'llSetVehicleVectorParam((integer) param_name, (vector) param_value)'
      'llShout((integer) channel, (string) text)'
      'llSin((float) theta)'
      'llSitTarget((vector) offset, (rotation) rot)'
      'llSleep((float) sec)'
      'llSqrt((float) val)'
      'llStartAnimation((string) anim)'
      'llStopAnimation((string) anim)'
      'llStopHover()'
      'llStopLookAt()'
      'llStopMoveToTarget()'
      'llStopPointAt()'
      'llStopSound()'
      'llStringLength((string) src)'
      'llStringToBase64((string) str)'
      'llStringTrim((string) src, (integer) trim_type)'
      'llSubStringIndex((string) source, (string) pattern)'
      'llTakeControls((integer) controls, (integer) accept, (integer) pass_on)'
      'llTan((float) theta)'
      'llTarget((vector) position, (float) range)'
      'llTargetOmega((vector) axis, (float) spinrate, (float) gain)'
      'llTargetRemove((integer) tnumber)'
      'llTeleportAgentHome((key) id)'
      'llToLower((string) src)'
      'llToUpper((string) src)'
      'llTriggerSound((string) sound, (float) volume)'
      'llTriggerSoundLimited((string) sound, (float) volume, (vector) tne, (vector) bsw)'
      'llUnSit((key) id)'
      'llUnescapeURL((string) url)'
      'llVecDist((vector) a, (vector) b)'
      'llVecMag((vector) vec)'
      'llVecNorm((vector) vec)'
      'llVolumeDetect((integer) detect)'
      'llWater((vector) offset)'
      'llWhisper((integer) channel, (string) text)'
      'llWind((vector) offset)'
      'llXorBase64Strings((string) s1, (string) s2)'
      'llXorBase64StringsCorrect((string) s1, (string) s2)'
      'money(key giver, integer amount)'
      'moving_end()'
      'moving_start()'
      'no_sensor()'
      'not_at_rot_target()'
      'not_at_target()'
      'object_rez(key id)'
      'on_rez(integer start_param)'
      'remote_data(integer type, key channel, key message_id, string sender, integer ival, string sval)'
      'return'
      'rotation'
      'run_time_permissions(integer permissions)'
      'sensor(integer total_number)'
      'state '
      'state_entry()'
      'state_exit()'
      'string '
      'timer()'
      'touch(integer total_number)'
      'touch_end(integer total_number)'
      'touch_start(integer total_number)'
      'vector '
      'while'
    ]
    'commentStart': '// '
